<section class="team">
  <h2 class="team">Our Team</h2>
  <ul>
    <li class="teamCard">
      <picture></picture>
      <div class="team-card-descr">
        <h3 class="team-name">Mark Guerrero</h3>
        <p class="team-desc">Product Designer</p>
        <ul class="team-icons-list">
          <li class="team-icon-item">
            <a href="http://" target="_blank" rel="noopener noreferrer"></a>
          </li>
          <li class="team-icon-item">
            <a href="http://" target="_blank" rel="noopener noreferrer"></a>
          </li>
          <li class="team-icon-item">
            <a href="http://" target="_blank" rel="noopener noreferrer"></a>
          </li>
          <li class="team-icon-item">
            <a href="http://" target="_blank" rel="noopener noreferrer"></a>
          </li>
        </ul>
      </div>
    </li>
    <li class="teamCard">
      <picture></picture>
      <div class="team-card-descr">
        <h3 class="team-name">Tom Ford</h3>
        <p class="team-desc">Frontend Developer</p>
        <ul class="team-icons-list">
          <li class="team-icon-item">
            <a href="http://" target="_blank" rel="noopener noreferrer"></a>
          </li>
          <li class="team-icon-item">
            <a href="http://" target="_blank" rel="noopener noreferrer"></a>
          </li>
          <li class="team-icon-item">
            <a href="http://" target="_blank" rel="noopener noreferrer"></a>
          </li>
          <li class="team-icon-item">
            <a href="http://" target="_blank" rel="noopener noreferrer"></a>
          </li>
        </ul>
      </div>
    </li>
    <li class="teamCard">
      <picture></picture>
      <div class="team-card-descr">
        <h3 class="team-name">Camila Garcia</h3>
        <p class="team-desc">Marketing</p>
        <ul class="team-icons-list">
          <li class="team-icon-item">
            <a href="http://" target="_blank" rel="noopener noreferrer"></a>
          </li>
          <li class="team-icon-item">
            <a href="http://" target="_blank" rel="noopener noreferrer"></a>
          </li>
          <li class="team-icon-item">
            <a href="http://" target="_blank" rel="noopener noreferrer"></a>
          </li>
          <li class="team-icon-item">
            <a href="http://" target="_blank" rel="noopener noreferrer"></a>
          </li>
        </ul>
      </div>
    </li>
    <li class="teamCard">
      <picture></picture>
      <div class="team-card-descr">
        <h3 class="team-name">Daniel Wilson</h3>
        <p class="team-desc">UI Designer</p>
        <ul class="team-icons-list">
          <li class="team-icon-item">
            <a href="http://" target="_blank" rel="noopener noreferrer"></a>
          </li>
          <li class="team-icon-item">
            <a href="http://" target="_blank" rel="noopener noreferrer"></a>
          </li>
          <li class="team-icon-item">
            <a href="http://" target="_blank" rel="noopener noreferrer"></a>
          </li>
          <li class="team-icon-item">
            <a href="http://" target="_blank" rel="noopener noreferrer"></a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</section>
