.header {
  padding: 0 72px;
  background-color: black;
}
.header-container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 24px;
}
.nav-main {
  display: flex;
}

.nav-list {
  padding: 32px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: white;
}
